<!DOCTYPE html>

<html>
    <head>
        <title>Egg Biblioteca</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h2>Carga un autor aqui</h2>
        </header>

        <div>
            <form action="/autor/registro" method="POST">
                <input type="text" name="nombre"  placeholder="Nombre del autor">
                <button type="submit"> Subir</button>
            </form>

        </div>
    </body>
</html>
